@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    -moz-tab-size: 4;
    tab-size: 4;
}

.project-list {
        text-align: left;
        margin: 1px 1px 1px 1px;
        padding: 1px 1px 1px 1px;
}

.sprite {
    width: auto;
    &-list {
        @extend .sprite;
        height: 50px;
    };
    &-show {
        @extend .sprite;
        height: 200px;
    }
}

.button {
    outline-style: solid;
    outline-color: gray;
}

.left-pane-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.radio-options {
	border: none;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	break-before: always;
	margin: 0 0 3em 0;
}

.radio-button {
    font-weight: bold;
    margin: 0 1em 0 0;
}

.margins {
    margin-left: 3rem;
    margin-right: 3rem;
}

.flex {
    display: flex;
    margin-left: 3rem;
    margin-right: 3rem;
    &-center {
        @extend .flex;
        justify-content: center;
        align-content: center;
    }
    &-left {
        @extend .flex;
        justify-content: left;
        align-items: center;
    }
}

.poke-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 92vh;
    h1 {
        text-align: center;
        margin: 1.5rem 0rem
    }
    &-project-list {
        @extend .poke-grid;
        grid-template-columns: 1fr 2fr;
    }
    &_pokedex-list {
        @extend .poke-grid;
        grid-template-columns: 1fr 3fr;
    }
    &_pokedex-show {
        @extend .poke-grid;
        grid-template-columns: 1fr 1fr 2fr;
    }
}

.left-nav {
    background-color: #4d0000;
    border-right: gray;
    border-right-style: solid;
    border-width: 5px;
    &-fill {
        @extend .left-nav;
    //     // height: 100vh;
    }
}

.top-bar {
    background-color: gray;
    .menu {
        background-color: gray;
    }
    a {
        color: white;
    }
}

$grid__bp--md: 768;
$grid__cols: 12;
.container {
    max-width: $grid__bp--md * 1px;
    margin: 0 auto;
    &--fluid {
        margin: 0;
        max-width: 100%;
    }
    &__row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    @for $i from 1 through $grid__cols {
        &__col-sm-#{$i} {
            flex-basis: (100 / ($grid__cols / $i)) * 1%;
        }
    }
    @for $i from 1 through $grid__cols {
        &__col-md-#{$i} {
            flex-basis: (100 / ($grid__cols / $i)) * 1%;
        }
    }
}
